header {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;   
    left: 32%;
    top: 450px;
    opacity: 0;
    transform: translateY(100%);
    animation: aparecer 1s forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

header h1 {
    font-size: 100px;
    color: white;
    text-align: center;
}

header p {
    font-size: 18px;
    color: white;
    text-align: center;
}